<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Sftp probe throughput measurements</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>

<body>


<div class="jumbotron text-center">
    <h1>NetGraf SFTP Probe graphs</h1>
    <p>Throughput  measurement for different file transfer rates at 5MB, 10MB, 20MB, 30MB, 50, 100MB.</p>
</div>

<div class="container-fluid" style="margin-top:40px">
  <div class="column">
    <iframe src="5mb.html" width="30%" height="500" ></iframe> 
    <iframe src="10mb.html" width="30%" height="500"></iframe>
    <iframe src="20mb.html" width="30%" height="500"></iframe>
  </div>
  <div class="column">
    <iframe src="30mb.html" width="30%" height="500"></iframe>
    <iframe src="50mb.html" width="30%" height="500"></iframe>
    <iframe src="100mb.html" width="30%" height="500"></iframe>
  </div>
</div>





<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
