---

# Flags, more info at https://github.com/timescale/promscale/blob/master/docs/cli.md

db-name: {{ timescaledb_pg_database }}
db-user: {{ timescaledb_pg_database_owner }}
db-password: {{ timescaledb_pg_database_owner_password }}
db-ssl-mode: {{ promscale_db_ssl_mode }}
